.menu{
  color: #fff;
}

.menu > h1{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 130px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu > hr{
  margin-top: 5px;
  margin-bottom: 5px;
}
